---
import DateTimeParsed from "@/components/date-time-parsed/date-time-parsed.astro";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;

const { title, description, tags, pubDate } = post.data;

console.log(post.id)
---

<a
  href={`${post.id}`}
  class="h-full card bg-base-300 hover:ring-2 hover:ring-secondary transition-shadow duration-300"
>
  <div class="card-body">
    <h3 class="card-title flex-col items-start">
      <p class="italic text-sm font-normal">
        <DateTimeParsed date={pubDate} />
      </p>
      <span class="font-black lg:text-2xl">
        {title}
      </span>
    </h3>
    <p class="text-p text-pretty">{description}</p>
    <div class="flex flex-wrap gap-1">
      {
        tags?.map((tag) => (
          <span class="badge bg-secondary/40 py-3 font-medium rounded-lg">
            # {tag}
          </span>
        ))
      }
    </div>
  </div>
</a>
