---
import PostPageHero from "@/components/page-components/post-page/post-page-hero.astro";
import PostPagePrevNextPost from "@/components/page-components/post-page/post-page-prev-next-post.astro";
import BaseHeader from "@/headers/base-header.astro";
import BaseLayout from "@/layouts/base-layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
  const allPosts = await getCollection("posts");

  const paths = allPosts.map((post, index) => {
    const prevPost =
      index > 0 ? allPosts[index - 1] : allPosts[allPosts.length - 1];
    const nextPost =
      index < allPosts.length - 1 ? allPosts[index + 1] : allPosts[0];

    return {
      params: {
        postId: post.id,
      },
      props: {
        post: post,
        prevPost: prevPost,
        nextPost: nextPost,
      },
    };
  });

  return paths;
}) satisfies GetStaticPaths;

const { post, prevPost, nextPost } = Astro.props;

const { Content } = await render(post);
---

<BaseLayout class="flex flex-col">
  <BaseHeader
    slot="header"
    title={post.data.title}
    description={post.data.description}
  />
  <main
    class="py-5 lg:py-10 3xl:py-20 px-5 w-full h-full grow flex flex-col items-center overflow-x-clip"
  >
    <!-- Hero -->
    <PostPageHero post={post} />

    <div class="mt-3 w-full max-w-6xl">
      <div class="divider h-0.5 bg-amber-300"></div>
    </div>

    <!-- Post Content -->
    <section class="my-10 flex flex-col items-center gap-y-5">
      <div
        class="prose lg:prose-lg xl:prose-xl 3xl:prose-2xl 
          prose-strong:px-2 prose-strong:py-0.5 prose-strong:underline 
          prose-strong:underline-offset-4 prose-strong:decoration-secondary
          prose-strong:decoration-3 prose-strong:decoration-dashed
          prose-code:font-shantell-sans md:prose-code:text-nowrap"
      >
        <Content />
      </div>
    </section>

    <div class="w-full max-w-4xl">
      <div class="divider h-0.5 bg-neutral-content/40"></div>
    </div>

    <!-- Prev & Next Posts -->
    <section class="w-full max-w-4xl my-10 flex flex-wrap gap-5 justify-around">
      {prevPost && <PostPagePrevNextPost post={prevPost} />}
      {nextPost && <PostPagePrevNextPost post={nextPost} prevPost={false} />}
    </section>

    <!-- Pagefind fields, used to support search. DO NOT REMOVE. -->
    <section data-pagefind-body class="hidden">
      <span data-pagefind-meta="title">{post.data.title}</span>
      <span data-pagefind-meta="description">{post.data.description}</span>
      {
        post.data.tags && (
          <span data-pagefind-meta="tags">{post.data.tags.join(",")}</span>
        )
      }
    </section>
  </main>
</BaseLayout>
